<html>
    <head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Aguafina Script' rel='stylesheet'>

    <script type="text/javascript" src="/static/script.js"></script>
</head>

    <body class="green lighten-2">
        <h1 class="center script">The Creators</h1>
<div><h5 class="center"><a href="/" class="black-text text-darken-3 underline ">find a recipe here</a></h5></div>
<div class="container"><br>
    <div class="row">
        <div class="col l6 m12 s12">
             <div class="row script center">
                <h3>Herman Amevor</h3>
            </div>
            <div class="row">
                <img src="https://mail.google.com/mail/u/0?ui=2&ik=c7a1e78048&attid=0.1.1&permmsgid=msg-f:1640765013901464644&th=16c52b16457c5444&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_enr2c2tD9EqEhpfliTeWO0OT8c8bmJ3iBD8XJ_IAGLPxlX1pMoPFuOzwgRaaTqPGevlBKyKCK5SbHzIU3Hjk2JHAdChtLq4a_GzTIk_p5arMk_4NTjS-byF0&disp=emb" class="responsive-img"></img>
            </div>
           
        </div>
        <div class="col l6 m12 s12">
             <div class="row script center">
                <h3>Jacob Axel</h3>
            </div>
            <div class="row">
                <img src="https://mail.google.com/mail/u/0?ui=2&ik=c7a1e78048&attid=0.1.1&permmsgid=msg-f:1640765030714342342&th=16c52b1a2f9c7bc6&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_VV0qvxFgDwtEAcyD_20gw_Js4FC5XOfq0MbzV8xpEy9Pz4Y1Ls_xJ2pZm_U9pYE6hchvCNTDyhR2RRTkB5IVPLIn7tOiYVYVmWbDztF2E57kevcd2AAeSZ2s&disp=emb" class="responsive-img"></img>
            </div>
           
        </div>
    </div>
</div>










    </body>
    
    
    
    
    
    
</html>