<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
    <title>Favorite Dishes</title>
</head>

<body class="red darken-1">
    <div>
        <h1 class="center">
            Popular {{ genre }} foods!
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l6">
                <h5>
                    Typical {{ genre }} dishes
                </h5>
                <ol>
                    <li><a href="/dishes">Name of food</a></li>
                    <li><a href="/dishes">Name of food</a></li>
                    <li><a href="/dishes">Name of food</a></li>
                    <li><a href="/dishes">Name of food</a></li>
                    <li><a href="/dishes">Name of food</a></li>
                    <li><a href="/dishes">Name of food</a></li>
                </ol>
            </div>
            <div class="col l6">
                <img src="https://cdn.ebaumsworld.com/mediaFiles/picture/2453506/85677232.jpg"></img>
            </div>
        </div>
              
    </div>
</body>