<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
    <title>Favorite Dishes</title>
</head>

<body class="red darken-1">
    <div>
        <h1 class="center">
            Popular {{ cuisine }} foods!
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l6">
                <h5>
                    Typical {{ cuisine }} dishes
                </h5>
               <form method="post" action="/dishes" class="red lighten-2">
        <label>Browser Select</label>
        <select name="meal" class="browser-default">
    <option value="" disabled selected>Choose your dish</option>
    {% for dish in dishes %}
        <option value="{{ dish['strMeal'] }}">{{ dish['strMeal'] }}</option>
    {% endfor %}
  </select>
        <input type="submit" value="Find Recipe!!" />
    </form>
            </div>
            <div class="col l6">
                <img src="https://cdn.ebaumsworld.com/mediaFiles/picture/2453506/85677232.jpg"></img>
            </div>
        </div>
              
    </div>
</body>