<html>

<head>
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="/static/script.js"></script>
</head>

<body class="red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l2">
                About stuff here
            </div>
            <div class="col l8 center">
                <h1>WELCOME</h1>
            </div>
            <div class="col l2">
                Creators stuff
            </div>
        </div>
    </div>
    <form method="post" action="/favorites" class="red lighten-2">
        <label>Browser Select</label>
        <select name="cuisine" class="browser-default">
    <option value="" disabled selected>Choose your cuisine</option>
    {% for cuisine in cuisineList %}
        <option value="{{ cuisine['strArea'] }}">{{ cuisine['strArea'] }}</option>
    {% endfor %}
  </select>
        <input type="submit" value="Find Dishes!!" />
    </form>
</body>

</html>
