<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
    <title>Recipe Finder</title>
</head>

<body class="green darken-1">
    <h1 class="center">Dishes</h1>
    <div class="container">
        <div class="row">
            <div class="col l4">
                <div class="row">stuff</div>
                <div class="row">stuff</div>
            </div>
            <div class="col l4">
                <div class="row">stuff</div>
                <div class="row">stuff</div>
            </div>
            <div class="col l4">
                <div class="row">stuff</div>
                <div class="row">stuff</div>
            </div>
        </div>
    </div>
</body>
