<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<head>
    <title>Recipe Finder</title>
</head>

<body class="green darken-1">
    <h1 class="center">{{ meal }} Recipe :)))</h1>
    <div class="black-text"><h5 class="center"><a href="/">find another recipe here :))</a></h5></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l4 m6 s12">
               {% for x in recipe %}
                    <ul>
                        <li class="center">INGREDIENTS</li>
                        <p>
                            <li>{{ x['strMeasure1'] }} {{ x['strIngredient1'] }}</li>
                            <li>{{ x['strMeasure2'] }} {{ x['strIngredient2'] }}</li>
                            <li>{{ x['strMeasure3'] }} {{ x['strIngredient3'] }}</li>
                            <li>{{ x['strMeasure4'] }} {{ x['strIngredient4'] }}</li>
                            <li>{{ x['strMeasure5'] }} {{ x['strIngredient5'] }}</li>
                            <li>{{ x['strMeasure6'] }} {{ x['strIngredient6'] }}</li>
                            <li>{{ x['strMeasure7'] }} {{ x['strIngredient7'] }}</li>
                            <li>{{ x['strMeasure8'] }} {{ x['strIngredient8'] }}</li>
                            <li>{{ x['strMeasure9'] }} {{ x['strIngredient9'] }}</li>
                            <li>{{ x['strMeasure10'] }} {{ x['strIngredient10'] }}</li>
                            <li>{{ x['strMeasure11'] }} {{ x['strIngredient11'] }}</li>
                            <li>{{ x['strMeasure12'] }} {{ x['strIngredient12'] }}</li>
                            <li>{{ x['strMeasure13'] }} {{ x['strIngredient13'] }}</li>
                            <li>{{ x['strMeasure14'] }} {{ x['strIngredient14'] }}</li>
                            <li>{{ x['strMeasure15'] }} {{ x['strIngredient15'] }}</li>
                            <li>{{ x['strMeasure16'] }} {{ x['strIngredient16'] }}</li>
                            <li>{{ x['strMeasure17'] }} {{ x['strIngredient17'] }}</li>
                            <li>{{ x['strMeasure18'] }} {{ x['strIngredient18'] }}</li>
                            <li>{{ x['strMeasure19'] }} {{ x['strIngredient19'] }}</li>
                            <li>{{ x['strMeasure20'] }} {{ x['strIngredient20'] }}</li>
                        </p>
                    </ul>
                {% endfor %} 
            </div>
            <div class="col l4 m6 s12 center">INSTRUCTIONS
                <p>{% for x in recipe %}
                    {{ x['strInstructions'] }}
                {% endfor %}</p>
            </div>
            <div class="col l4 m12 s12">
                {% for x in recipe %}
                    <img class= "responsive-img" src="{{ x['strMealThumb'] }}"></img>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
